@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";


:root {
    line-height: 33.599998px;
}

.playfair {
    font-family: "Playfair Display";
}

.prose {
    --tw-prose-body: #000;
    --tw-prose-headings: #000;
    --tw-prose-headings: ; 
    --tw-prose-lead: #000;
    --tw-prose-links: #000;
    --tw-prose-bold: #000;
    --tw-prose-counters: #000;
    --tw-prose-bullets: #000;
    --tw-prose-hr: #000;
    --tw-prose-quotes: #000;
    --tw-prose-quote-borders: #000;
    --tw-prose-captions: #000;
    --tw-prose-code: #000;
    --tw-prose-pre-code: #000;
    --tw-prose-pre-bg: #fff;
    --tw-prose-th-borders: #000;
    --tw-prose-td-borders: #000;
  }

.prose {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: var(--font-inter), sans-serif;
}